body {
  margin: 0;
  font-family: Roboto;
  background-color: #fff;
}
.wrapper {
  height: 100vh;
}
h1 {
  color: #f95700ff;
  text-align: center;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  padding: 6px 10px;
  border: 1px solid #eee;
  margin: 10px auto;
}
li h4 {
  color: #f95700ff;
  margin: 0;
  text-transform: capitalize;
}
li p {
  color: #333;
  margin: 8px 0 0;
}
footer {
  background: whitesmoke;
  padding: 60px;
  margin-top: 60px;
}
form {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background-color: rgba(249, 87, 0, 0.08);
  border-radius: 11px;
  box-shadow: 0 0 10px rgba(249, 87, 0, 0.08);
  border: 1px solid rgba(249, 87, 0, 0.1);
}
label {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
  margin: 16px 0 6px;
}
.new-item-form .form-group label {
  text-align: left;
}
.custom-scroll-bar {
  position: relative;
  height: 60vh;
  overflow: auto;
  box-shadow: 0 0 10px rgba(249, 87, 0, 0.08);
  border: 1px solid rgba(249, 87, 0, 0.1);
  border-radius: 10px;
  padding-bottom: 50px;
}
.custom-scroll-bar::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}
.custom-scroll-bar::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;
}
.custom-scroll-bar::-webkit-scrollbar-track {
  background: rgb(236, 235, 235);
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: #f95700ff;
  border-radius: 20px;
}

/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.698);
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(249, 87, 0, 0.08);
}
.table tbody tr {
  height: 73px;
}
.table thead th {
  font-weight: bold;
  font-size: 0.8em;
  color: #f95700ff;
  text-align: center;
  margin: 16px 0 6px;
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px rgba(249, 87, 0, 0.08);
  background: white;
}
.table tbody td {
  font-size: 0.8em;
  text-align: center;
  color: #234656;
  margin: 16px;
  padding: 22px;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid rgba(249, 87, 0, 0.1);
}
.field {
  display: block;
  width: 80%;
  margin: 0 10px;
}
button {
  color: whitesmoke;
  border: 0;
  background: #f95700ff;
  padding: 6px;
  min-width: 80px;
  border-radius: 4px;
}
footer a {
  text-align: center;
  display: block;
  color: #f95700ff;
  margin-top: 40px;
  font-size: 0.7em;
}
.describe p {
  font-weight: bold;
  font-size: 0.8em;
  color: #f95700ff;
  text-align: center;
  margin: 16px 0 6px;
}
